<div class="topBar">
  <div class="topBarContainer">
    <div class="topBarLeft">
      <a href="tel:977220220" class="topBarLink">
        <span-lucide name="phone" size="16" strokeWidth="2"></span-lucide>
        <span class="topBarText">977 220 220</span>
      </a>

      <a href="mailto:info@idealhome.com" class="topBarLinkHidden">
        <span-lucide name="mail" size="16" strokeWidth="2"></span-lucide>
        <span>info@idealhome.com</span>
      </a>
    </div>

    <div class="topBarRight">
      <span-lucide name="map-pin" size="16" strokeWidth="2"></span-lucide>
      <span class="topBarLocation">Av. Principal 123, Ciudad</span>
    </div>
  </div>
</div>
